In [20]:
%pip install numpy matplotlib pandas kagglehub pandas os

Requirement already satisfied: numpy in c:\users\jahnvi aghera\desktop\sem 5\ml\github\ml\.venv\lib\site-packages (2.3.1)
Requirement already satisfied: matplotlib in c:\users\jahnvi aghera\desktop\sem 5\ml\github\ml\.venv\lib\site-packages (3.10.3)
Requirement already satisfied: pandas in c:\users\jahnvi aghera\desktop\sem 5\ml\github\ml\.venv\lib\site-packages (2.3.1)
Requirement already satisfied: kagglehub in c:\users\jahnvi aghera\desktop\sem 5\ml\github\ml\.venv\lib\site-packages (0.3.12)
Note: you may need to restart the kernel to use updated packages.

Could not find platform independent libraries <prefix>
ERROR: Could not find a version that satisfies the requirement os (from versions: none)
ERROR: No matching distribution found for os

In [19]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("stackoverflow/stack-overflow-2018-developer-survey")

print("Path to dataset files:", path)

c:\Users\JAHNVI AGHERA\Desktop\SEM 5\ML\GitHub\ML\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Path to dataset files: C:\Users\JAHNVI AGHERA\.cache\kagglehub\datasets\stackoverflow\stack-overflow-2018-developer-survey\versions\2

## OR

In [6]:
import os
os.environ[r'../kaggle.json'] = r'/dataset'

In [18]:
!kaggle datasets download -d stackoverflow/stack-overflow-2018-developer-survey -p dataset

'kaggle' is not recognized as an internal or external command,
operable program or batch file.

--------------------

In [23]:
import pandas as pd
data = pd.read_csv(path + "/survey_results_public.csv", low_memory=False)
data2 = pd.read_csv(path + "/survey_results_schema.csv", low_memory=False)

In [26]:
data.describe()

,Respondent,AssessJob1,AssessJob2,AssessJob3,AssessJob4,AssessJob5,AssessJob6,AssessJob7,AssessJob8,AssessJob9,...,JobEmailPriorities6,JobEmailPriorities7,ConvertedSalary,AdsPriorities1,AdsPriorities2,AdsPriorities3,AdsPriorities4,AdsPriorities5,AdsPriorities6,AdsPriorities7
count,98855.000000,66985.000000,66985.000000,66985.000000,66985.000000,66985.000000,66985.000000,66985.000000,66985.000000,66985.000000,...,46213.00000,46213.000000,4.770200e+04,60479.000000,60479.000000,60479.000000,60479.000000,60479.000000,60479.000000,60479.000000
mean,50822.971635,6.397089,6.673524,5.906875,4.065791,3.953243,4.407196,5.673181,4.225200,7.640009,...,4.97425,4.836388,9.578086e+04,2.726880,3.805784,3.340945,3.782470,4.383604,5.138809,4.821459
std,29321.650410,2.788428,2.531202,2.642734,2.541196,2.520499,2.502069,2.923998,2.507411,2.407457,...,1.86063,1.659844,2.023482e+05,1.881078,1.821323,1.673485,1.844864,1.931746,1.853249,1.874895
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.00000,1.000000,0.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,25443.500000,4.000000,5.000000,4.000000,2.000000,2.000000,2.000000,3.000000,2.000000,6.000000,...,4.00000,4.000000,2.384400e+04,1.000000,2.000000,2.000000,2.000000,3.000000,4.000000,3.000000
50%,50823.000000,7.000000,7.000000,6.000000,4.000000,3.000000,4.000000,6.000000,4.000000,8.000000,...,5.00000,5.000000,5.507500e+04,2.000000,4.000000,3.000000,4.000000,5.000000,6.000000,5.000000
75%,76219.500000,9.000000,9.000000,8.000000,6.000000,6.000000,6.000000,8.000000,6.000000,10.000000,...,7.00000,6.000000,9.300000e+04,4.000000,5.000000,5.000000,5.000000,6.000000,7.000000,7.000000
max,101592.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,...,7.00000,7.000000,2.000000e+06,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000

In [27]:
data2.describe()

            Column                                       QuestionText
count          129                                                129
unique         129                                                124
top     Respondent  Which of the following libraries, frameworks, ...
freq             1                                                  2