<a href="https://colab.research.google.com/github/JahnviAghera/ML/blob/main/experiment_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Cleaning and Preprocessing

In [4]:
%pip install numpy
import numpy as np

Collecting numpy
  Using cached numpy-2.3.1-cp313-cp313-win_amd64.whl.metadata (60 kB)
Using cached numpy-2.3.1-cp313-cp313-win_amd64.whl (12.7 MB)
Installing collected packages: numpy
Successfully installed numpy-2.3.1
Note: you may need to restart the kernel to use updated packages.

Could not find platform independent libraries <prefix>

In [5]:
a = np.array([[1,2], [3,4]])
print(a)

[[1 2]
 [3 4]]

In [6]:
a = np.array(['a', 'b', 'c', 'd', 'e'])
a

array(['a', 'b', 'c', 'd', 'e'], dtype='<U1')

In [ ]:
%pip install pandas
import pandas as pd

In [8]:
pd.Series(a)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [9]:
data = {'cricketer': ['Sachin', 'Dravid', 'Kohli', 'Rohit'],
        'scores': [100, 200, 300, 400],}
data

{'cricketer': ['Sachin', 'Dravid', 'Kohli', 'Rohit'],
 'scores': [100, 200, 300, 400]}

In [13]:
pd.DataFrame(data)

  cricketer  scores
0    Sachin     100
1    Dravid     200
2     Kohli     300
3     Rohit     400

In [42]:
np.random.randn(3, 2)

array([[-0.27496382, -1.17194598],
       [-0.49121181, -0.9669834 ],
       [-0.74933993,  1.08300116]])

In [49]:
data = pd.DataFrame(np.random.randn(5, 3))
data

          0         1         2
0 -1.093085 -0.085327  0.404305
1 -0.009788 -1.571143 -0.499806
2  0.467367  0.374207  1.001496
3  0.889365 -0.369850 -0.459679
4 -0.436235  1.086642  0.885906

In [50]:
data = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'd', 'f', 'h'], columns=['one', 'two', 'three'])
data

        one       two     three
a -1.661898 -1.272349  0.691666
c -0.589589  1.113326  0.898012
d -0.812351  1.265135 -0.569108
f -0.163840 -1.472442  1.998455
h -1.086973 -1.166663 -2.218140

In [52]:
data = data.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
data

        one       two     three
a -1.661898 -1.272349  0.691666
b       NaN       NaN       NaN
c -0.589589  1.113326  0.898012
d -0.812351  1.265135 -0.569108
e       NaN       NaN       NaN
f -0.163840 -1.472442  1.998455
g       NaN       NaN       NaN
h -1.086973 -1.166663 -2.218140

In [53]:
data['one'].isnull()

a    False
b     True
c    False
d    False
e     True
f    False
g     True
h    False
Name: one, dtype: bool

In [54]:
data.dropna()

        one       two     three
a -1.661898 -1.272349  0.691666
c -0.589589  1.113326  0.898012
d -0.812351  1.265135 -0.569108
f -0.163840 -1.472442  1.998455
h -1.086973 -1.166663 -2.218140

In [55]:
data.fillna(0)

        one       two     three
a -1.661898 -1.272349  0.691666
b  0.000000  0.000000  0.000000
c -0.589589  1.113326  0.898012
d -0.812351  1.265135 -0.569108
e  0.000000  0.000000  0.000000
f -0.163840 -1.472442  1.998455
g  0.000000  0.000000  0.000000
h -1.086973 -1.166663 -2.218140

In [56]:
data.fillna(data.mean())

        one       two     three
a -1.661898 -1.272349  0.691666
b -0.862930 -0.306599  0.160177
c -0.589589  1.113326  0.898012
d -0.812351  1.265135 -0.569108
e -0.862930 -0.306599  0.160177
f -0.163840 -1.472442  1.998455
g -0.862930 -0.306599  0.160177
h -1.086973 -1.166663 -2.218140

In [57]:
data.fillna(method= 'pad')

C:\Users\JAHNVI AGHERA\AppData\Local\Temp\ipykernel_5420\3516653013.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method= 'pad')

        one       two     three
a -1.661898 -1.272349  0.691666
b -1.661898 -1.272349  0.691666
c -0.589589  1.113326  0.898012
d -0.812351  1.265135 -0.569108
e -0.812351  1.265135 -0.569108
f -0.163840 -1.472442  1.998455
g -0.163840 -1.472442  1.998455
h -1.086973 -1.166663 -2.218140